<section class="about-me section">
    <button class="toggle-btn" aria-expanded="false" aria-controls="about-content">
      <span class="arrow"></span> ABOUT ME
    </button>
    <div id="about-content" class="about-me__content">
      <p>I am Lloyd Jefferson, a talented programmer...</p>
      <p>Able to work both independently and in a team...</p>
    </div>
  </section>
  
  <section class="role section">
    <button class="toggle-btn" aria-expanded="false" aria-controls="role-content">
      <span class="arrow"></span> ROLE
    </button>
    <div id="role-content" class="role__content">
      <p>Frontend development</p>
      <p>HeadlessCMS, Wordpress</p>
      <p>Blender (enjoy)</p>
    </div>
  </section>
  
  <section class="education section">
    <button class="toggle-btn" aria-expanded="false" aria-controls="education-content">
      <span class="arrow"></span> EDUCATION
    </button>
    <div id="education-content" class="education__content">
      <p>2018 - 2019: Frontend Development Diploma...</p>
      <p>2019 - 2020: Advanced Web Development Certificate...</p>
      <p>2020 - 2022: Advanced Blender Animation Techniques...</p>
    </div>
  </section>
  
  