<section class="covers">
  <h2 class="visually-hidden">Collection of Covers</h2>
  <div class="cover-wrapper">
    <ul class="cover-list">
      <li class="cover-item"> <img src="./img/covers/first-screen-1.jpg" alt=""></li>
      <li class="cover-item"> <img src="./img/covers/rectangle-10.jpg" alt=""></li>
    </ul>
    <ul class="cover-list list-2">
      <li class="cover-item"> <img src="./img/covers/rectangle-5.jpg" alt=""></li>
      <li class="cover-item"> <img src="./img/covers/rectangle-6.jpg" alt=""></li>
      <li class="cover-item"> <img src="./img/covers/rectangle-7.jpg" alt=""></li>
    </ul>
    <ul class="cover-list list-3">
      <li class="cover-item"> <img src="./img/covers/rectangle-8.jpg" alt=""></li>
      <li class="cover-item"> <img src="./img/covers/rectangle-9.jpg" alt=""></li>
      <li class="cover-item"> <img src="./img/covers/rectangle-10.jpg" alt=""></li>
    </ul>
    <ul class="cover-list list-4">
      <li class="cover-item"> <img src="./img/covers/rectangle-11.jpg" alt=""></li>
      <li class="cover-item"> <img src="./img/covers/rectangle-12.jpg" alt=""></li>
    </ul>
  </div>
</section>