<link rel="stylesheet" href="/src/css/covers.css">
    <section class="covers">
      <h2 class="visually-hidden">Collection of Covers</h2>
      <div class="content">
<div class="cover-images">

    <div class="covers-wrapper">

      <div class="cover">
        <img src="/src/img/Covers/first-screen-1.jpg" alt="" />

        <img src="/src/img/Covers/Rectangle-4.jpg" alt="" />
      </div>

      <div class="cover">
        <img src="/src/img/Covers/Rectangle-5.jpg" alt="" />

        <img src="/src/img/Covers/Rectangle-6.jpg" alt="" />

        <img src="/src/img/Covers/Rectangle-7.jpg" alt="" />
      </div>

      <div class="cover">
        <img src="/src/img/Covers/Rectangle-8.jpg" alt="" />

        <img src="/src/img/Covers/Rectangle-9.jpg" alt="" />

        <img src="/src/img/Covers/Rectangle-10.jpg" alt="" />
      </div>

      <div class="cover">
        <img src="/src/img/Covers/Rectangle-11.jpg" alt="" />

        <img src="/src/img/Covers/Rectangle-12.jpg" alt="" />
      </div>

    </div>
</div>
      </div>
    </section>
    <script type="module" src="/src/js/covers.js"></script>

