<header class="header">
  <div class="container header-container">
    <nav class="header-nav-logo">
      <a class="header-nav-logo" href="./index.html">
        <img src="./img/heder/jeff.png" alt="logo" />
        <svg class="header-icon" width="84" height="19">
          <use href="./img/icons.svg#icon-jefferson"></use>
        </svg>
      </a>
    </nav>

    <!-- #region Menu -->
    <div class="header-nav-box">
      <p class="header-nav-menu">Menu</p>
      <ul class="header-nav-list">
        <li class="header-nav-list-item"><a href="">About me</a></li>
        <li class="header-nav-list-item"><a href="">Benefits</a></li>
        <li class="header-nav-list-item"><a href="">Projects</a></li>
        <li class="header-nav-list-item"><a href="">FAQ</a></li>
      </ul>
    </div>
    <!-- #endregion Menu -->

    <button class="header-burger-btn" type="button">
      <svg class="header-burger-ico" width="28" height="28">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
