<header class="header">
  <div class="container header-container">
    <nav class="header-nav-logo">
      <a class="header-nav-logo" href="./index.html">
        <img src="./img/heder/jeff.png" alt="logo" />
        <svg class="header-icon" width="84" height="19">
          <use href="./img/icons.svg#icon-jefferson"></use>
        </svg>
      </a>
    </nav>

    <!-- #region Menu -->
    <div class="header-nav-box">
      <button class="header-nav-menu-btn" type="button">Menu</button>
      <ul class="header-nav-list visualy-hidden">
        <li class="header-nav-list-item"><a href="#about-me">About me</a></li>
        <li class="header-nav-list-item"><a href="#benefits">Benefits</a></li>
        <li class="header-nav-list-item"><a href="#projects">Projects</a></li>
        <li class="header-nav-list-item"><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <!-- #endregion Menu -->

    <!-- #region Burger Button -->
    <button class="header-burger-btn" type="button">
      <svg class="header-burger-ico" width="28" height="28">
        <use href="./img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <!-- #endregion Burger Button -->

    <a class="header-link" href="#work-together">Order the project</a>
  </div>
  <!-- #region Mobile Menu -->
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-ico" width="28" height="28">
          <use href="./img/icons.svg#icon-close-modal-heder"></use>
        </svg>
      </button>
      <div class="mobile-menu-wrapper"></div>
    </div>
  </div>
  <!-- #endregion Mobile Menu -->
</header>
