<!-- Hero section-->

<section class="hero-section" id="hero">
  <div class="container hero-content-container">
    <h1 class="hero-title">
      <span>Hello.</span>
      <span>I’m Fullstack developer Lloyd Jefferson.</span>
    </h1>

    <ul class="hero-socials-list">
      <li class="hero-socials-item">
        <a
          class="hero-socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          >IG
        </a>
      </li>

      <li class="hero-socials-item">
        <a
          class="hero-socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          >FB
        </a>
      </li>

      <li class="hero-socials-item">
        <a
          class="hero-socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          >YT
        </a>
      </li>

      <li class="hero-socials-item">
        <a
          class="hero-socials-link"
          href="https://mikhael-yakymets.github.io/project-CodeNomads/"
          target="_blank"
          rel="noopener noreferrer"
          >GH
        </a>
      </li>

      <li class="hero-socials-item">
        <a
          class="hero-socials-link email"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
