<section class="projects-section" id="projects">
  <div class="container projects-container">
    <h2 class="projects-header">projects</h2>
    <!-- project one -->
    <div class="swiper swiper-projects">
      <ul class="swiper-wrapper swiper-wrapper-js">
        <li class="swiper-slide projects-one-container">
          <!-- swiper-slide  добавить выше-->
          <div class="container-projects-left">
            <div class="projects-hashtags">
              <ul class="projects-list-hashtags">
                <li class="projects-item">
                  <p class="projects-hashtag">#react</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#node js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#git</p>
                </li>
              </ul>
            </div>
            <div class="projects-text-left">
              <p class="projects-text-content-left">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://mikhael-yakymets.github.io/project-CodeNomads/"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
              </a>
            </div>
          </div>
          <div class="container-projects-right">
            <picture>
              <source
                srcset="
                  ./img/projects/slide1-desk@1x.jpg 1x,
                  ./img/projects/slide1-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/slide1-tabl@1x.jpg 1x,
                  ./img/projects/slide1-tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slide1-mob@1x.jpg 1x,
                  ./img/projects/slide1-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/projects/slide1-desk@1x.jpg"
                width="614"
                alt="Project preview"
              />
            </picture>
          </div>
        </li>
        <!-- insert second card -->
        <li class="swiper-slide projects-one-container">
          <div class="container-projects-left">
            <div class="projects-hashtags">
              <ul class="projects-list-hashtags">
                <li class="projects-item">
                  <p class="projects-hashtag">#react</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#node js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#git</p>
                </li>
              </ul>
            </div>
            <div class="projects-text-left">
              <p class="projects-text-content-left">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://mikhael-yakymets.github.io/project-CodeNomads/"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
              </a>
            </div>
          </div>
          <div class="container-projects-right">
            <picture>
              <source
                srcset="
                  ./img/projects/slide2-desk@1x.jpg 1x,
                  ./img/projects/slide2-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/slide2-tabl@1x.jpg 1x,
                  ./img/projects/slide2-tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slide2-mob@1x.jpg 1x,
                  ./img/projects/slide2-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/projects/slide2-desk@1x.jpg"
                width="614"
                alt="Project preview"
              />
            </picture>
          </div>
        </li>
        <!-- insert third card -->
        <li class="swiper-slide projects-one-container">
          <div class="container-projects-left">
            <div class="projects-hashtags">
              <ul class="projects-list-hashtags">
                <li class="projects-item">
                  <p class="projects-hashtag">#react</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#node js</p>
                </li>
                <li class="projects-item">
                  <p class="projects-hashtag">#git</p>
                </li>
              </ul>
            </div>
            <div class="projects-text-left">
              <p class="projects-text-content-left">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://mikhael-yakymets.github.io/project-CodeNomads/"
                target="_blank"
                class="projects-btn"
                rel="noopener noreferrer nofollow"
              >
                See project
              </a>
            </div>
          </div>
          <div class="container-projects-right">
            <picture class="projects-img">
              <source
                srcset="
                  ./img/projects/slide3-desk@1x.jpg 1x,
                  ./img/projects/slide3-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/projects/slide3-tabl@1x.jpg 1x,
                  ./img/projects/slide3-tabl@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/projects/slide3-mob@1x.jpg 1x,
                  ./img/projects/slide3-mob@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/projects/slide3-desk@1x.jpg"
                width="614"
                alt="Project preview"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="slider-icon-container">
        <button
          class="btn-arrow prev-button-js-prj base-button-style"
          aria-label="Previous slide"
        >
          <svg class="swiper-left-arrow" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button
          class="btn-arrow next-button-js-prj base-button-style"
          aria-label="Next slide"
        >
          <svg class="swiper-right-arrow" width="32" height="32">
            <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
