<section class="reviews" id="reviews">
  <div class="reviews-bg">
  <div class="reviews-container container">
    <h2 class="reviews-h">REVIEWS</h2>

    <div class="swiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="buttons">
      <button class="button-prev" type="button">
        <svg class="prev-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="button-next" type="button">
        <svg class="next-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
