/* #region Mobile Hero */

.hero-section {
  background-image: linear-gradient(
    90deg,
    (
      url(./img/herophoto/Glasseffect_mob@1x.png) 1x,
      url(./img/herophoto/Glasseffect_mob@2x.png) 2x
    )
  );
  padding-top: 282px;
  padding-bottom: 32px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  gap: 212px;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0 auto;
}

.hero-socials-link,
.hero-socials-link.email {
  color: #fafafa;
}

.hero-socials-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  row-gap: 10px;
  margin-top: -100px;
}

.hero-socials-link {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px;
  width: 37px;
  height: 37px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-socials-link:hover {
  border-color: #4070eb;
}

.hero-socials-link.email {
  width: 178px;
}

@media only screen and (min-width: 359px) {
  .hero-socials-list {
    margin-top: -50px;
  }
}

@media only screen and (min-width: 374px) {
  .hero-socials-list {
    margin-top: 0px;
  }
}

/* #region Tablet Hero */

@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
      90deg,
      (
        url(./img/herophoto/Glasseffect_tab@1x.png) 1x,
        url(./img/herophoto/Glasseffect_tab@2x.png) 2x
      )
    );
    padding-top: 300px;
    padding-bottom: 32px;
  }

  .hero-content-container {
    gap: 186px;
  }

  .hero-title {
    font-size: 90px;
  }

  .hero-socials-list {
    justify-content: end;
  }

  .hero-socials-link {
    width: 55px;
    height: 55px;
    padding: 18px;
  }

  .hero-socials-link.email {
    width: 224px;
  }
}

/* #endregion */

/* #region Desctop Hero */

@media only screen and (min-width: 1440px) {
  .hero-section {
    background-image: linear-gradient(
      90deg,
      (
        url(./img/herophoto/Glasseffect_desc@1x.png) 1x,
        url(./img/herophoto/Glasseffect_desc@2x.png) 2x
      )
    );
    padding-top: 300px;
    padding-bottom: 32px;
  }

  .hero-content-container {
    gap: 242px;
  }

  .hero-title {
    max-width: 1084px;
    margin: 0 auto;
  }
}

/* #endregion */
